[global]
ca_file = "include/auth-ca.crt"
zpr_addr = [ "fd5a:5052:8888::53" ] # resolver's pinned service addr (must match dns-demo.zplc.template)
tun_if = "tun9"

[adapter]
name = "dns.demo"
node_addr = "@@NODE_ADDR@@:5000"
node_public_key_file = "include/node-noise-pub.pem"
bootstrap_key = "include/dns-private-key.pem"
