[global]
ca_file = "include/auth-ca.crt"
zpr_addr = [ "fd5a:5052:8888::80" ] # web's pinned service addr (Contract 4)
tun_if = "tun9"

[adapter]
name = "web.demo"
node_addr = "@@NODE_ADDR@@:5000"
node_public_key_file = "include/node-noise-pub.pem"
bootstrap_key = "include/web-private-key.pem"
